doctype html
html
  head
    title Isha's dance academy
    block scripts
    block style
  body
    nav#navbar.top 
        ul
          div#logo 
            img(src="/static/logo2.png")
          li #[a(href="/") Home ]
          li #[a(href="/") About]
          li #[a(href="/") Services ]
          li #[a(href="/") Class Info]
          li #[a(href="/contact") Contacts ]
    block content
    footer#footer 
        | Copyright © 2023 IshaDanceAcademy.com | All rights reserved